[run]
name = "Benchtop Single MG"

[run.mg]
name = "Bench Test"

[run.mg.drive]
name = "1-and-1"
axes.0.name = "X"
axes.0.ip = "192.168.6.103"
axes.0.units = "cm"
axes.0.units_per_rev = 0.254
axes.1.name = "Y"
axes.1.ip = "192.168.6.104"
axes.1.units = "cm"
axes.1.units_per_rev = 0.254

[run.mg.motion_builder]
space.0.label = "X"
space.0.range = [-5, 5]
space.0.num = 51
space.1.label = "Y"
space.1.range = [-5, 5]
space.1.num = 51
layer.0.type = "grid"
layer.0.limits = [[-3, 3], [-3, 3]]
layer.0.steps = [7, 7]

[run.mg.transform]
type = "identity"
